<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Airbus Ship Detection</title>


    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link href="{{ url_for('static', filename='css/main.css') }}" rel="stylesheet">      
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Airbus Ship Detection Sprint</a>
        </div>
    </nav>
    <img height="150" width="100%" src="header.jpg">
    <div class = 'title'><h2>Welcome to Ship Detector</h2></div>
    <div class = 'mainpage-unet'><a href="/unetmain"><button type="button" class="btn btn-primary btn-lg ">Use U-net</button></a></div>
    <div class = 'mainpage-mrcnn'><a href="/mrcnnmain"><button type="button" class="btn btn-primary btn-lg ">Use M-RCNN</button></a></div>
    <div class = 'mainpage-resnet'><a href="/resnetmain"><button type="button" class="btn btn-primary btn-lg ">Use ResNet</button></a></div>

<footer></footer>
</body>
</html>
